#bG {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
  width: 600px;
  height: 500px;
  border-radius: 8px;
}

#display {
  font-family: serif;
  font-weight: lighter;
  text-align: center;
  font-size: 100px;
  height: 500px;
  margin: 20px 0;
  padding: 180px 0;
}
